#target_menu{
  width: 200px;
  margin-bottom: 0px
}
.selected{
  background: #ECF0F1;
}
.selected h4{
  color: black;
}
.active h4{
  color: black;
}

.optionTable{
  width: 300px;
  position: absolute;
  left: 220px;
  top: 284px;
}
.inputBox{
  width: 150px;
  height: 30px;
}

#submitButton{
  margin-left: 70px;
  margin-top: 5px;
}

#result_area{
  position: absolute;
  left: 420px;
  top: 300px;
}

#paginationBar{
  position: absolute;
  top: 640px;
  margin-left: 430px;
}

