#target_menu{
  width: 200px;
  margin-bottom: 0px
}

.active h4{
  color: black;
}

.optionTable{
  width: 200px;
  position: absolute;
  left: 210px;
  top: 284px;
}

#submitButton{
  margin-left: 50px;
  margin-top: 5px;
}

#result_area{
  position: absolute;
  left: 400px;
  top: 300px;
}

#paginationBar{
  margin-top: 60px;
  margin-left: 420px;
}

